*{
	margin: 0px;
}

body{
	background-image: url("texture.jpg");
	
	margin: 0px auto;
	padding: 15px;
}

/*
Width auto

The initial width of a block level element like div or p is auto. 
This makes it expand to occupy all available horizontal space within
 its containing block. If it has any horizontal padding or border,
  the widths of those do not add to the total width of the element.

Width 100%

On the other hand, if you specify width:100%, the element’s total
 width will be 100% of its containing block plus any horizontal margin,
  padding and border (unless you’ve used box-sizing:border-box,
   in which case only margins are added to the 100% to change how
    its total width is calculated). This may be what you want, 
    but most likely it isn’t.

*/

#container{
	width : auto;
	height: 100%;
	margin:  auto;	/*not 100%*/
	
	
	border-radius:25px;
	overflow: hidden;
	
}

#header{
	background-color: #c5dcfe;
	width: 100%;
	height:40px;
	padding: 20px;
}

#menubar{
	background-color: #a9d3d3;
	width: 100%;
	height:30px;
}

#content{
	position: relative;
	padding:20px;
	width: auto;
	height: 700px;
	
	background-color: white;
}

.division{
	width:300px;
	margin:10px;
	display: inline-block;
	padding:5px;
	
	border: 2px solid black;
}

#box{
	margin: 10px;
	width: auto;
	height: 150px;
	background-color: #f7f7f7;
	border-color: #e1e1e1;
	border: 2px;
	padding: 6px;
	
}

.left{
	float: left
}


.right{
	float: right;
}

.center{
	margin: auto;
}

h3{
	
	width: auto;
	background-color: #a4aefb;
	border-radius : 10px 10px 0px 0px;
}