/* 
    Document   : form
    Created on : Nov 9, 2014, 6:31:57 PM
    Author     : Administrator
    Description:
        Purpose of the stylesheet follows.
*/
root {
	display: block;
}

body {
	font-family: 'Raleway', sans-serif;
	background-color: #ffffff;
}

img#logo {
	margin-left: 50px
}

div#first {
	width: 500px;
	height: auto;
	margin: 50px auto 0;
	padding: 50px;
	background-color: #7b7ba0;
	color: #090a5d;
	border: 2px solid #C2D6FF;
	border-radius: 40px 0 40px 0;
	box-shadow: 10px 10px 5px #888888;
}

h1 {
	margin: auto;
}

div#second {
	width: 550px;
	height: auto;
	margin: 50px auto 0;
	padding: 50px;
	background-color: #dadada;
	color: #090a5d;
	border: 2px solid #C2D6FF;
	border-radius: 40px 0 40px 0;
	box-shadow: 10px 10px 5px #888888;
}

label {
	font-size: 15px;
	font-weight: 700
}

input#fname {
	background-repeat: no-repeat;
	background-position: 6px;
	border: 1px solid #DADADA;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 35px;
	width: 310px;
	height: 30px;
	font-size: 14px;
	box-shadow: 0 0 10px;
	-webkit-box-shadow: 0 0 10px;
	/* For I.E */
	-moz-box-shadow: 0 0 10px;
	/* For Mozilla Web Browser */
	border-radius: 5px;
	-webkit-border-radius: 5px;
	/* For I.E */
	-moz-border-radius: 5px /* For Mozilla Web Browser */
}

input#email {
	background-repeat: no-repeat;
	background-position: 6px;
	border: 1px solid #DADADA;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 35px;
	width: 310px;
	height: 30px;
	font-size: 14px;
	box-shadow: 0 0 10px;
	-webkit-box-shadow: 0 0 10px;
	/* For I.E */
	-moz-box-shadow: 0 0 10px;
	/* For Mozilla Web Browser */
	border-radius: 5px;
	-webkit-border-radius: 5px;
	/* For I.E */
	-moz-border-radius: 5px /* For Mozilla Web Browser */
}

input#contact {
	background-repeat: no-repeat;
	background-position: 6px;
	border: 1px solid #DADADA;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 35px;
	width: 310px;
	height: 30px;
	font-size: 14px;
	box-shadow: 0 0 10px;
	-webkit-box-shadow: 0 0 10px;
	/* For I.E */
	-moz-box-shadow: 0 0 10px;
	/* For Mozilla Web Browser */
	border-radius: 5px;
	-webkit-border-radius: 5px;
	/* For I.E */
	-moz-border-radius: 5px /* For Mozilla Web Browser */
}

input#address {
	background-repeat: no-repeat;
	background-position: 6px;
	border: 1px solid #DADADA;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 35px;
	width: 310px;
	height: 30px;
	font-size: 14px;
	box-shadow: 0 0 10px;
	-webkit-box-shadow: 0 0 10px;
	/* For I.E */
	-moz-box-shadow: 0 0 10px;
	/* For Mozilla Web Browser */
	border-radius: 5px;
	-webkit-border-radius: 5px;
	/* For I.E */
	-moz-border-radius: 5px /* For Mozilla Web Browser */
}

input#submit {
	background-color: #cc7a66;
	border-radius: 5px;
	border: none;
	padding: 10px 25px;
	color: #FFF;
	text-shadow: 1px 1px 1px #949494;
	margin-left: 120px
}

input#submit:hover {
	background-color: #FF9980
}