@CHARSET "ISO-8859-1";

body{
	/*margin: 0px;	*/	/* bcoz there is some default margin  */
	/*padding: 20px;*/		
	margin: auto;				/*  ?? contre align body */
	vertical-align: middle;
	
}
#body2{
	position: relative;
	/* margin-top:80px; */
	
	margin: auto;
	margin: 0px;
	padding: 30px;
	display: block;
	
	max-width: 1000px;
}

#header{
	/* position: fixed; */	/*check on scroll*/
	
	width: 100%;
	height: auto;
	padding:5px;
	border: 2px;
	/*  background-color: #70b8b8; */
	 display: block;		/****/
}

.htmllogo{
	position: relative;
	height: 50px;
	left: 30px;
}

#horizontal_menu{

    float: right;
    display: block;
    
    position: relative;
    margin-right: 20px;
    
    /*display: inline-block;*/
    
}


#html5{
	margin: auto;	/*to align center-----not working*/
	
}

#features{
	 display: block;
    margin: auto;
    width: 70%;
	
}

h1,h3 {
    text-align: center;
}

p{
	display: block;
	
	padding-left: 20px;
	padding-right: 20px;
	
	text-align: justify;
    text-justify: inter-word;
}
#footertext{
	margin: auto;
	text-align: center;
}

#tablediv{
	
	display: block;
}

#tablecoldiv{
	padding: 15px;
	display:inline-block;
	max-width: 300px;
}

#formdiv{
	margin: 0 auto;
	position: relative;
}
